<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <br>
      <a routerLink="/candidate" class="btn btn-primary">List Candidates</a>
      <a style="margin-left:10px" routerLink="/add-candidate" class="btn btn-success">Add Candidates</a>
      <br>
    </div>
  </div>

<h2>Add Candidate</h2>
<form>
    <div class="form-group">
        <label for="name">Name:</label>
        <input [(ngModel)]="employee.name" placeholder="Name" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="surname">Age:</label>
        <input [(ngModel)]="employee.age" placeholder="age" name="age" class="form-control" id="age">
    </div>
    
    <div class="form-group text-center">
        <button class="btn btn-success" (click)="createEmployee()">Create</button>
    </div>

</form>